.card-container{
    width: 720px;
    height: 480px;
    margin: 0 auto;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}